<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8">
		<title>IconChanger</title>
	</head>
	<body>
		<h1>IconChanger</h1>
		<form method="post" enctype="multipart/form-data" action="/IconImage" >
			<input type="file" value="image" name="image">
			<p><input type="checkbox" value="twitter" name="twitter">twitter<%- twitterButton%></p>
			<input type="submit" value="upload">
		</form>
	</body>
</html>
